body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app{
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 25px
}

.wrapper-styles{
  width: 100%;
  margin: 0 auto
}

.wrapper-styles svg{
  height: 940px;
  border: 1px solid black
}

.menu{
  position: absolute;
  left:50%;
  margin-left: -100px;
  box-sizing: border-box;
}

.menu-time{
  position: absolute;
  margin-left: 15px;
  margin-top: 20px;
  top: 0;
  font-size: 24px;
  cursor: default;
  user-select: none; /* Standard */
}

.menu-center{
  width: 200px;
  height: 70px;
}

.reset-button {
  margin: 10px;
  display: flex;
  width: 100%;
  box-shadow:inset 0px 1px 0px 0px #660066;
  background:linear-gradient(to bottom, #cc00cc 5%, #660066 100%);
  background-color:#cc00cc;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #990099;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  text-align: center;
  font-family:Arial;
  font-size: 1.5rem;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #660066;
}
.reset-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #660066), color-stop(1, #800080));
  background:-moz-linear-gradient(top, #660066 5%, #800080 100%);
  background:-webkit-linear-gradient(top, #660066 5%, #800080 100%);
  background:-o-linear-gradient(top, #660066 5%, #800080 100%);
  background:-ms-linear-gradient(top, #660066 5%, #800080 100%);
  background:linear-gradient(to bottom, #660066 5%, #800080 100%);
  background-color:#660066;
}
.reset-button:active {
  position:relative;
  top:1px;
}

:focus {
  outline: none !important;
}

.wsdm-tooltip {
  display: none;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  pointer-events: none;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.wsdm-tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 95%;
  left: 50%;
  margin-left: -0.5rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgba(255, 255, 255, 0.95);
}