.container{
	margin-top: 50px;
	width: 100%;
	background-color: #443266;
	padding: 20px;
	margin-bottom: 100px;
	border: solid 2px #000000;
	border-radius: 20px;
}

.formtext{
	font-size: 22px;
	font-weight: bold;
}

#button-box-form{
	flex-basis: 18%;
    width: 230px;
    height: 40px;
	border: 1px solid #000000;
    border-radius: 5px;
	letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    outline: none;
    position: relative;
	display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
	margin-top: 20px;
	padding-top:5px;
	color: black;
	background-color: #FFF;
	align-items:center;
	z-index: 2;
}

.input-box{
	height: 40px;
	font-size: 24px;
	text-align: center;
	border: 1px solid #000000;
}

#formi{
	width: 600px;
	margin: 20px auto auto;
	text-align: center;
}

body{
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #E7E7E7;
	background-color:#4D3F5B;
}

.center{
	margin: auto;
	width: 1100px;
}

.headline{
	font-size: 30px;
	text-align: center;
}

.sub-box-end{
	margin-top: 30px;
}

.button-box-edited{
	flex-basis: 18%;
    width: 95%;
    height: 40px;
	border: 1px solid #000000;
    border-radius: 5px;
	letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    outline: none;
    position: relative;
	display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
	padding-top:10px;
	background-color: #8165b3;
	color: white;
	align-items:center;
	z-index: 2;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 5px;
}

.button-box-edited:link{
	text-decoration: none;
}

.Huom{
	width: 1100px;
	border:  thin solid #E7E7E7;
	border-radius: 10px;
	margin-top: 60px;
	text-align: center;
	font-size: 18px;
	padding-bottom: 20px;
}

.huomtext{
	margin-top: 40px;
	font-size: 22px;
}

.subheadline{
	font-size: 24px;
	margin-bottom: 10px;
	margin-top:50px;
}

@media screen and (max-device-width: 768px) {
	.container{
		width: 88.6%;
		margin-top: 0px;
		margin-bottom: 0px;
		overflow-x:hidden;
		padding: 3px;
	}
	
	body, html{
		margin:0px;
		font-size: 24px;
		overflow-x:hidden;
	}
	
	body{
		position: relative;
	}
	
	.button-box-edited{
		font-size: 24px;
		width: 94.4%;
		margin-bottom: 2px;
	}
}

@media only screen and (max-width: 1200px) {
	.container{
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		overflow-x:hidden;
		padding: 3px;
	}
	
	body, html{
		margin:0px;
		font-size: 24px;
		overflow-x:hidden;
	}
	
	body{
		position: relative;
	}
	
	.button-box-edited{
		font-size: 24px;
		width: 94.4%;
		margin-bottom: 2px;
	}
}